<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<style>
    .form-gap {
        padding-top: 80px;
    }
</style>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row ">
            <div class=" col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <div class="panel-body">

                                <form id="register-form" role="form" autocomplete="off" class="form" method="post" action="/">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="email address"
                                                class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-lg btn-primary btn-block"
                                            onclick="forgotpass()" value="Reset Password" type="button">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function forgotpass() {
            var email = document.getElementById("email").value
            var auth = firebase.auth();
            auth.sendPasswordResetEmail(email).then(function () {
                window.alert("Email has been sent to you check and verify")
                window.location.pathname = "/"
                //window.location.pathname = "/bmi"
            })
        }
    </script>
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-firestore.js"></script>
     <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyARdWikuedG7jFfW62Rr-uP1bZDba2mZQw",
            authDomain: "proud-life-280712.firebaseapp.com",
            projectId: "proud-life-280712",
            databaseURL: "https://proud-life-280712.firebaseio.com",
            storageBucket: "proud-life-280712.appspot.com",
            messagingSenderId: "127826886758",
            appId: "1:127826886758:web:4ead825f01801d1b1c6da7",
            clientId: "1077955550973-gqpiskrrq50s32k878ufuc0hhr91bduj.apps.googleusercontent.com",
            clientsecret: "fvlq7fVmU6gxQevH7fG9eaCj",
            scopes: [
                "email",
                "profile",
                "https://mail.google.com/"]
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        // make auth and firestore references
        const auth = firebase.auth();
        const db = firebase.firestore();

        // update firestore settings
        db.settings({ timestampsInSnapshots: true });



    </script>
</body>

</html>